

.bg_front{
	background-color: #e6e6fa;
}
.bg_up{
	background-color: #e6e6fa;
}
.bg_right{
	background-color: #e6e6fa;
}
.bg_down{
	background-color: #e6e6fa;
}
.bg_left{
	background-color: #e6e6fa;
}
.bg_back{
	background-color: #e6e6fa;
}


